
body {
 background-color:#CCFFFF;
 margin: 0px;
 padding: 0px;
}
 
#container {
 margin-left:auto;
 margin-right:auto;
 width:1000px;
} 
      
#kop {
 position: relative;
 padding:30px;
 background-color: #40E0D0;
 height:50px;
 width:960px;
 border-bottom: solid 33px #418AC9;
}
#kop ul{
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
}
#kop ul a{
    background-color: #46c7c7; 
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
     width: 100px;
    display: inline-block;
    text-align: center;
}
#kop ul a:hover{
    background-color: #418AC9;
}
#sociaal{
    right: 0px;
    position: absolute;
    top: 123px;
}
#sociaal a{
     display: inline-block;
    /* position: absolute; */
    background: #F1991F;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-right: 10px;
}
#sociaal a:hover{
    background: #F1991F;
}
      
#logo {
 margin-left:auto;
 margin-right:auto;
 width:230px;
}
       
#menuknoppen {
 margin:5px;
 padding:10px;
 height:30px;
 width:1000px;
 background-color:#8EEBEC;
 float:left;} 
      
#inhoud {
 padding:10px;
 width:1000px;
 height:750px;
 background-color: #E0FFFF;
 overflow:auto;
 float:left;
} 
      
#onderbalk {
  text-align: center;
  color: white;
  padding: 10px;
  width:1000px;
  background-color: #46C7C7;
  float:left;
} 
