div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
}

a href{ 
    font-family: Verdana;
    text-color: #BCD2EE;
}

p{ 
    text-color: #000000;
}

body{ 
		background-color: #FFFFFF
}